@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>



<!--/banner-->
<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">ANA SAYFA</a>
    </li>
    <li class="breadcrumb-item active">KAYIT OL</li>
</ol>
<!--//banner-->
<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">YAZAR KAYIT SAYFASI</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Register", "Register", FormMethod.Post))
                {

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">ADINIZ SOYADINIZ</label>
                            @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.WriterName,"", new {@class = "text-danger" })
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">E-MAİL ADRESİNİZ</label>
                            @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">ŞİFRENİZ</label>
                            @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">GÖRSEL DOSYA YOLU</label>
                            @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.WriterImage, "", new { @class = "text-danger" })  
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Kayıt Ol</button>
                    <p>
                        <a href="#" id="btn1">Tüm şartları okudum, kabul ediyorum.</a>
                    </p>
                }
            </div>
        </div>
    </div>
    <script>
        $('#btn1').click(function () {
            swal("Site Kabul Şartları","Sitemizde verdiğiniz mail adresi üzerinden bilgi ve haber e-postaları spam ölçüsüne varmadan gönderilmeye devam edilecektir. Eğer e-posta bülteninden çıkmak isterseniz mail ileti dizisini durdurabilirsiniz. Şifre ve e-mail adresiniz şifrelenmiş formatta herhangi bir yerde kullanılmadan veri tabanımızda saklanmaktadır.");
        });
    </script>
</section>
<!--//main-->